
body{
     background-image:url(media/S.jpg); 
     background-size:cover;
}
h1{
      color: rgb(129, 141, 17);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
      font-size: 25px;
      font-weight: 900;
}

p{
    color: rgb(71, 203, 255);
    font-size: 20px;
}

.image1{ 
  border-radius: 50%;
  width: 150px;
  border-style:outset;
  border-color: rgb(43, 101, 226);
}
.image2{ 
  border-radius: 50%;
  width: 150px;
  border-style:inset;
  border-color: rgb(226, 192, 43);
  }
.image3{ 
  border-radius: 50%;
  width: 150px;
  border-style:solid;
  border-color: rgb(82, 67, 2);
  }
.image4{ 
  border-radius: 50%;
  width: 150px;
  border-style:groove;
  border-color: rgb(43, 214, 226);
  }


.table_1 table,th,td{
  width: 800px;
  height: 36px;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  vertical-align:center;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  box-shadow: 3px 3px 3px #aaaabb ;
}

.table_1 th{    
  background-color: burlywood;
  color: rgb(56, 116, 29);  
  }

.table_1 td{
  background-color: rgb(0, 174, 255);
  color :aqua;
  }